@import "./variables.scss";

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    background-color: $background-color;
}

@import "./price-card-wrap.scss";
@import "./price-card.scss";