@import "./variables.scss";

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    margin: 0;
}

@import "./main.scss";
@import "./price-card.scss";