$background-color: #141b1c;
$item-background-color: rgba(51, 66, 71, 1);
$item-odd-list-color: rgba(42, 52, 56, 0.5);
$first-block-color: rgba(91, 177, 137, 1);
$second-block-color: rgba(58, 107, 165, 1);
$thirt-block-color: rgba(236, 99, 42, 1);